openapi: 3.0.0
info:
  title: AFOCE Accounting API
  description: |
    Complete accounting API for invoicing, expenses, and financial management.
    Supports multi-tenant workspaces with role-based access control.
  version: 1.0.0
  contact:
    name: AFOCE Support
    email: support@afoce.app

servers:
  - url: https://api.afoce.app
    description: Production server
  - url: http://localhost:3000
    description: Local development

security:
  - cookieAuth: []

paths:
  /api/health:
    get:
      summary: Health check
      description: Check API and database health status
      operationId: healthCheck
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/docs:
    get:
      summary: API Documentation
      description: Get API documentation
      operationId: getDocs
      security: []
      responses:
        "200":
          description: API documentation
          content:
            application/json:
              schema:
                type: object

  /api/clients:
    get:
      summary: List clients
      operationId: listClients
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: type
          in: query
          schema:
            type: string
            enum: [client, vendor]
        - name: search
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of clients
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"
    post:
      summary: Create client
      operationId: createClient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientRequest"
      responses:
        "201":
          description: Client created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"

  /api/clients/{id}:
    get:
      summary: Get client
      operationId: getClient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Client details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Client"
    patch:
      summary: Update client
      operationId: updateClient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateClientRequest"
      responses:
        "200":
          description: Client updated
    delete:
      summary: Delete client
      operationId: deleteClient
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Client deleted

  /api/invoices:
    get:
      summary: List invoices
      operationId: listInvoices
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, paid, overdue, rejected]
        - name: clientId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of invoices
    post:
      summary: Create invoice
      operationId: createInvoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInvoiceRequest"
      responses:
        "201":
          description: Invoice created

  /api/invoices/{id}/status:
    patch:
      summary: Update invoice status
      operationId: updateInvoiceStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateStatusRequest"
      responses:
        "200":
          description: Status updated

  /api/expenses:
    get:
      summary: List expenses
      operationId: listExpenses
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [pending_approval, manager_review, blocked, approved, rejected]
      responses:
        "200":
          description: List of expenses
    post:
      summary: Create expense
      operationId: createExpense
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateExpenseRequest"
      responses:
        "201":
          description: Expense created

  /api/expenses/{id}/approve:
    post:
      summary: Approve/reject expense
      operationId: approveExpense
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [approve, reject, request_review]
                notes:
                  type: string
      responses:
        "200":
          description: Expense processed

  /api/batch:
    post:
      summary: Batch operations
      operationId: batchOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
      responses:
        "200":
          description: Batch operation completed
    patch:
      summary: Batch status update
      operationId: batchStatusUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchStatusRequest"
      responses:
        "200":
          description: Status updated

  /api/export:
    get:
      summary: Export data
      operationId: exportData
      parameters:
        - name: entity
          in: query
          required: true
          schema:
            type: string
            enum: [invoices, expenses, clients, bank_lines]
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [csv, pdf, xlsx]
      responses:
        "200":
          description: Exported file
          content:
            text/csv:
              schema:
                type: string
            application/pdf:
              schema:
                type: string
    post:
      summary: Export data with payload
      operationId: exportDataWithPayload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Exported file

  /api/upload:
    post:
      summary: Upload file
      operationId: uploadFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [receipt, avatar, invoice, general]
      responses:
        "200":
          description: File uploaded
    delete:
      summary: Delete uploaded file
      operationId: deleteUploadedFile
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File deleted

  /api/auth/invite:
    post:
      summary: Invite a user
      operationId: inviteUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                role:
                  type: string
                  enum: [finance_admin, manager, team_member]
                full_name:
                  type: string
      responses:
        "200":
          description: User invited
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  /api/auth/session:
    get:
      summary: Get current session
      operationId: getAuthSession
      responses:
        "200":
          description: Session details
        "401":
          description: Unauthorized

  /api/auth/signout:
    post:
      summary: Sign out current session
      operationId: signOut
      responses:
        "200":
          description: Signed out

  /api/profile:
    get:
      summary: Get current profile
      operationId: getProfile
      responses:
        "200":
          description: Profile details
        "401":
          description: Unauthorized
    put:
      summary: Update current profile
      operationId: updateProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Profile updated
        "400":
          description: Validation error

  /api/team:
    get:
      summary: List team members
      operationId: listTeamMembers
      responses:
        "200":
          description: Team members
        "401":
          description: Unauthorized
    post:
      summary: Invite team member
      operationId: createTeamMemberInvite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Team invitation created
        "403":
          description: Forbidden

  /api/team/{id}:
    get:
      summary: Get team member
      operationId: getTeamMember
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Team member details
    patch:
      summary: Update team member
      operationId: updateTeamMember
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Team member updated
    delete:
      summary: Remove team member
      operationId: deleteTeamMember
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Team member removed

  /api/policies:
    get:
      summary: List policies
      operationId: listPolicies
      responses:
        "200":
          description: Policies list
    post:
      summary: Create policy
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Policy created

  /api/policies/{id}:
    get:
      summary: Get policy
      operationId: getPolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy details
    patch:
      summary: Update policy
      operationId: updatePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Policy updated
    delete:
      summary: Delete policy
      operationId: deletePolicy
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policy deleted

  /api/analytics:
    get:
      summary: Analytics summary
      operationId: getAnalytics
      responses:
        "200":
          description: Analytics payload

  /api/reports/audit:
    get:
      summary: Audit report
      operationId: getAuditReport
      responses:
        "200":
          description: Audit report data

  /api/reports/vat:
    get:
      summary: VAT report
      operationId: getVatReport
      responses:
        "200":
          description: VAT report data

  /api/search:
    get:
      summary: Unified search
      operationId: searchEntities
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Search results

  /api/notifications:
    get:
      summary: List notifications
      operationId: listNotifications
      responses:
        "200":
          description: Notifications list
    patch:
      summary: Update notifications state
      operationId: updateNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Notifications updated
    delete:
      summary: Delete notifications
      operationId: deleteNotifications
      responses:
        "200":
          description: Notifications deleted

  /api/bank-lines:
    get:
      summary: List bank statement lines
      operationId: listBankLines
      responses:
        "200":
          description: Bank statement lines
    post:
      summary: Create bank statement line
      operationId: createBankLine
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "201":
          description: Bank statement line created

  /api/bank-lines/{id}:
    get:
      summary: Get bank statement line
      operationId: getBankLine
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bank line details
    patch:
      summary: Update bank statement line
      operationId: updateBankLine
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Bank line updated
    delete:
      summary: Delete bank statement line
      operationId: deleteBankLine
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Bank line deleted

  /api/expenses/{id}:
    get:
      summary: Get expense
      operationId: getExpense
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Expense details
    patch:
      summary: Update expense
      operationId: updateExpense
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Expense updated
    delete:
      summary: Delete expense
      operationId: deleteExpense
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Expense deleted

  /api/invoices/{id}:
    get:
      summary: Get invoice
      operationId: getInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invoice details
    patch:
      summary: Update invoice
      operationId: updateInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Invoice updated
    delete:
      summary: Delete invoice
      operationId: deleteInvoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invoice deleted

  /api/webhooks/bank-statement:
    get:
      summary: Webhook metadata
      operationId: getBankStatementWebhookInfo
      security:
        - apiKeyAuth: []
      responses:
        "200":
          description: Webhook contract
    post:
      summary: Receive bank statement webhook
      operationId: processBankStatementWebhook
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orgId
                - lines
              properties:
                orgId:
                  type: string
                source:
                  type: string
                lines:
                  type: array
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                      description:
                        type: string
                      amount:
                        type: number
                      reference:
                        type: string
      responses:
        "200":
          description: Webhook processed
        "401":
          description: Invalid API key
        "503":
          description: Webhook key not configured

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: supabase-auth-token
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        checks:
          type: object

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
        pagination:
          type: object
          properties:
            page:
              type: integer
            pageSize:
              type: integer
            total:
              type: integer

    Client:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        pan:
          type: string
        email:
          type: string
        phone:
          type: string
        type:
          type: string
          enum: [client, vendor]

    CreateClientRequest:
      type: object
      required:
        - name
        - pan
      properties:
        name:
          type: string
        pan:
          type: string
        email:
          type: string
        phone:
          type: string
        type:
          type: string

    UpdateClientRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string

    CreateInvoiceRequest:
      type: object
      required:
        - client_id
        - bs_date
        - ad_date
        - amount
      properties:
        client_id:
          type: string
        bs_date:
          type: string
        ad_date:
          type: string
        amount:
          type: number
        due_days:
          type: integer
        status:
          type: string

    CreateExpenseRequest:
      type: object
      required:
        - employee
        - category
        - amount
        - bs_date
        - ad_date
      properties:
        employee:
          type: string
        category:
          type: string
        amount:
          type: number
        bs_date:
          type: string
        ad_date:
          type: string
        receipt_url:
          type: string

    UpdateStatusRequest:
      type: object
      properties:
        status:
          type: string
        reason:
          type: string

    BatchRequest:
      type: object
      properties:
        operation:
          type: string
          enum: [create, update, delete]
        entity:
          type: string
        items:
          type: array

    BatchStatusRequest:
      type: object
      properties:
        entity:
          type: string
        ids:
          type: array
          items:
            type: string
        status:
          type: string
        reason:
          type: string
